* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-success {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: #64e986;
  padding: 0.4rem 0.9rem;
  border: 3px solid #c0c0c0;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-warning {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: #ff9900;
  padding: 0.4rem 0.9rem;
  border: 3px solid #c0c0c0;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-danger {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: #f81c4c;
  padding: 0.4rem 0.9rem;
  border: 3px solid #ff9292;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-info {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: #43bfc7;
  padding: 0.4rem 0.9rem;
  border: 3px solid #20b2aa;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.placeDetails {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  height: 250px;
  width: 400px;
  float: left;
  margin: 50px;
  margin-bottom: 20px;
}
.placeDetails:hover {
  box-shadow: var(--darkShadow);
}

.placeDetailsImg-container {
  position: relative;
  width: 100%;
  transition: var(--mainTransition);
}
.placeDetailsImg-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.images {
  margin-top: 30px;
  display: inline-block;
}
.placeDetailsContainer {
  margin-left: 10px;

  display: block;
}
.mainImg img {
  width: 100%;
}
.mainImg {
  margin-bottom: 5px;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.place {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  height: 250px;
  width: 400px;
  float: left;
  margin: 50px;
}
.place:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 215px;
  display: block;
  transition: var(--mainTransition);
}
.rating-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.rating-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.place-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
/* .img-container img {
  width: "400px";
  height: "300px";
} */
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .rating-top {
  opacity: 0;
}
.img-container:hover .place-link {
  transform: translate(-50%, -50%) scale(1);
}
.place-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
.info {
  display: block;
  text-align: center;
  background-color: orange;
}
.placeName {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
.basic-info {
  color: black;
  text-align: justify;
  display: block;
  float: left;
  max-width: 450px;
  font-size: 15px;
}
.basic-info p {
  font-family: serif;
  font-size: 20px;
}
.basic-info h2,
h4,
h5 {
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
}

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}
.toggle,
.check-btn,
[id^="drop"] {
  display: none;
}
.check-btn {
  font-size: 40px;
  float: right;
  margin-right: 40px;
  padding-top: 20px;
  cursor: pointer;
}
.nav-header {
  padding: 20px;
  padding-left: 50px;
  display: inline-block;
}
.nav-header img {
  height: 40px;
  width: 250px;
}

nav {
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  background: var(--offWhite);
  height: auto;
  width: 100%;
  position: fixed;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  list-style: none;
  position: relative;
}
nav ul li {
  margin: 0px;
  display: inline-block;
  /* float: left; */
}
nav a {
  display: block;
  padding: 14px 20px;
  color: var(--mainBlack);
  font-size: 16px;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  font-weight: 600;
  transition: var(--mainTransition);
}
nav a:hover {
  color: var(--primaryColor);
}
nav ul ul {
  display: none;
  position: absolute;
  background-color: var(--offWhite);
  top: 60px;
  overflow: hidden;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul li ul {
  padding-top: 0px;
  margin-top: 10px;
}
/* li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
} */
@media all and (max-width: 1530px) {
  .nav-header {
    padding: 20px 0px;
    display: inline-block;
  }
  nav ul li {
    transition: all var(--mainTransition);
  }
  nav a {
    font-size: 15px;
  }
}
@media all and (max-width: 1430px) {
  nav {
    margin: 0;
  }
  .toggle + a,
  .menu {
    display: none;
  }
  .check-btn {
    display: block;
  }
  .toggle {
    display: block;
    font-size: 15px;

    font-weight: 600;
    padding: 14px 20px;
    text-decoration: none;
    border: none;
  }
  [id^="drop"]:checked + ul {
    display: block;
  }
  nav ul,
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul li ul li a:first-child {
    padding-top: 5px;
  }
  nav ul label:hover {
    color: var(--primaryColor);
  }
  nav ul li,
  nav ul label {
    transition: var(--mainTransition);
  }
  nav ul li a,
  nav ul li ul li {
    transition: var(--mainTransition);
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    padding: 14px 20px;
    color: var(--mainBlack);
    font-size: 15px;
  }

  nav ul {
    background-color: var(--darkGrey);
    text-align: center;
    height: 100vh;
  }
  nav ul ul {
    float: none;
    position: static;
    color: var(--mainBlack);
    background-color: var(--darkGrey);
    height: auto;
    padding-top: 0px;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  nav ul ul li {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 450px) {
  .nav-header {
    padding: 10px 0px;

    display: inline-block;
  }
  .nav-header img {
    height: 25px;
    width: 160px;
  }
  .check-btn {
    font-size: 20px;
  }
}
/* nav {
  z-index: 1;
  top: 0;
  background: var(--offWhite);
  height: auto;
  width: 100%;
  position: fixed;
}
nav ul {
  float: right;
  margin-right: 35px;
}
nav ul li {
  margin: 0 5px;
  transition: var(--mainTransition);
  display: inline-block;
  line-height: auto;
  padding-top: 25px;
  height: auto;
  margin-left: 0.5rem;
  position: relative;
}
nav ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--mainBlack);
  text-decoration: none;
  padding: 1rem 0;
  transition: var(--mainTransition);
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin: 0 1rem;
}
a:hover {
  color: var(--primaryColor);
}
.dropdown {
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: -9999999px;
  background: var(--offWhite);
}
.dropdown li {
  float: none;
  text-align: center;
  padding-top: 30px;
}
.dropdown li:last-child {
  padding-bottom: 30px;
}

nav ul li:hover ul {
  left: 0;
}

#check {
  display: none;
}

@media (max-width: 1500px) {
  nav ul li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 1350px) {
  nav ul li a {
    font-size: 0.75rem;
    transition: all 0s;
  }
  a:hover {
    transition: var(--mainTransition);
  }
}
@media (max-width: 1300px) {
  .check-btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #dcdcdc;
    left: 100%;
    text-align: center;
    transition: all var(--mainTransition);
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 1rem;
  }
  #check:checked ~ ul {
    left: 0;
  }
} */
.rating {
  font-size: 22px;
}
.rating-num {
  margin-top: 0px;
  font-size: 54px;
  margin-bottom: 10px;
}
.progress {
  margin-bottom: 5px;
}
.progress-bar {
  text-align: left;
}
.rating-desc .col-md-3 {
  padding-right: 0px;
}
.sr-only {
  margin-left: 5px;
  overflow: visible;
  clip: auto;
}
.rating-box {
  display: flex;
  position: relative;
}
.rating-number {
  float: left;
  margin-left: 5px;
}
.loading {
  margin-left: 40%;
  margin-top: 10%;
}
.div div {
  width: 10rem;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: var(--primaryColor);
}
